@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900&display=swap')

$primary: #737BEC
$blueish: #5592EB
$text-dark: #3E3A40
$dark: #42495B
$text-grey: #7A839E

body
  font-family: 'Poppins', sans-serif

.container
  padding: 1.5rem 10rem
  &.is-fluid
    padding: 1rem 5rem

.heading
  text-align: center
  color: $dark
  font-weight: 600
  text-align: center
  font-size: 28px
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20)