@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap')

$primary: #737BEC
$text-dark: #3E3A40
$text-grey: #7A839E

body
  font-family: 'Poppins', sans-serif

.container
  padding: 1.5rem 10rem
  &.is-fluid
    padding: 1rem 5rem

.heading
  text-align: center
  color: $text-dark
  font-weight: 500
  text-align: center
  font-size: 28px