.hero
  width: 100%
  background-image: url("../../assets/images/Bg Shape.png")
  height: 75vh
  background-size: 75vh
  background-repeat: no-repeat
  background-position: top right
  @media screen and (max-height:  768px)
    height: 85vh
    background-size: 85vh